.button {
  width     : 200px;
  background: #dedede;
  border    : solid #000 1px;
}

.video-wrapper {
  display: flex;
}

.video-placeholder {
  width: 300px;
  border: solid #dedede;
  padding: 8px;
}
