<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Customers</display-name>
    <servlet-name>Customers</servlet-name>
    <servlet-class>org.fmi.Customers</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CustomersJSP</servlet-name>
    <jsp-file>/WEB-INF/customers.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>CustomersJSP</servlet-name>
    <url-pattern>/customers.jsp</url-pattern>
    <url-pattern>/klient</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Customers</servlet-name>
    <url-pattern>/customers</url-pattern>
    <url-pattern>/clients</url-pattern>
    <url-pattern>/klienti/customers</url-pattern>
  </servlet-mapping>
  <display-name>CustomersSupport</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>