<div class="todo-input">
  <input [(ngModel)]="todoInputValue" type="text">
  <button [disabled]="todoInputValue.length <= 2" (click)="processAddTask()">Добави</button>
</div>

<!-- <div class="todo-tasklist">
  @for (taskObject of taskCollection; track $index) {

    <app-todo-task
      [inputTask]="taskObject.task"
      [inputStatus]="taskObject.status"
      [inputTaskObject]="taskObject"
      (onStatusChange)="processStatusChange($event)"
      (onSelect)="processTodoSelect($event)">
    </app-todo-task>
  }
</div> -->


@for(currencyObject of currencyCollection; track $index) {
  <div>{{currencyObject | currencyTransform }}</div>
}


